flax==0.6.9
jax==0.4.8
jaxlib==0.4.7+cuda11.cudnn86
optax==0.1.5
gym==0.25.0
imageio==2.22.4
matplotlib==3.6.2
numpy==1.22.4
Pillow==9.2.0
psutil==5.9.1
scikit-image==0.19.3
scipy==1.10.1
tifffile==2022.10.10
line-profiler
memory-profiler
pyyaml
orbax
orbax-checkpoint
tensorflow
tensorflow_datasets